
Example/.idea/.name

Example/.idea/Example.iml

Example/.idea/encodings.xml

Example/.idea/misc.xml

Example/.idea/modules.xml

Example/.idea/scopes/scope_settings.xml

Example/.idea/vcs.xml

Example/.idea/workspace.xml

Example/.idea/xcode.xml

Example/.idea/dictionaries/tchristensen.xml
